.border {
  /* display: inline-block; */
  background-image: url("../public/quranversesymbol.png");
  background-size: cover; /* adjusts the size of the background image */
  background-position: center; /* centers the background image */
  position: relative;

  text-align: center;
  justify-content: center;
  background-size: cover;
  width: 1.4em;
  height: 1.9em;
  z-index: 1;
}

.container {
  /* background-color: rgb(245, 237, 230);
   border-radius: 100%; */
  margin-right: 3px;
  margin-left: 10px;
  display: inline-block;
}

.versenumber {
  font-size: 15px;
  text-align: center;
  padding-top: 7px;

  justify-content: center;
  color: green;
}
